/* Empty. Add your own CSS if you like */

/*Google Maps*/
.scroll {
    height: 100%;
}
#map-canvas {
    width: 100%;
    height: 105%;
    position: relative;
}

/*Icon tray*/
#icon-tray{
    position:absolute;
    left:0;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;

    text-align: justify;
}
#icon-tray img{

}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/*Asthetics*/
